.content {
    position: absolute;
    left: 201px;
    top: 60px;
    width: calc(100% - 201px);
    height: calc(100vh - 61px);
}

    .content .header-content {
        padding: 16px;
        display: flex;
        align-items: center;
    }

        .content .header-content .page-title {
            font-size: 20px;
            font-weight: bold;
        }

        .content .header-content .content-feature {
            position: absolute;
            right: 16px;
        }

    .content .filter-bar {
    }

    .content .paging-bar {
        margin-left: 16px;
        margin-right: 16px;
        width: calc(100% -32px);
        height: 56px;
        border-top: 1px solid #bbbbbb;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .content .paging-bar .left-text {
            position: absolute;
            left: 32px;
        }

        .content .paging-bar .right-text {
            position: absolute;
            right: 32px;
        }

        .content .paging-bar .paging-field{
            position: absolute;
            display: flex;
            align-items: center;
        }
