.grid {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

    table tbody {
        overflow-y: auto;
    }

    table th, td {
        border-bottom: 1px solid #bbbbbb;
        padding: 10px 16px;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    table tbody tr:nth-child(2n + 1) {
        background-color: #f2f2f2
    }

    
